
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    height: 100vh;
    width: 100%;
    color: bisque;
    background-color: black;
    align-items: center;
    justify-content: center;
    
}
.container {
    display: flex;
    align-items: flex-start;/* Alinha os itens ao topo */
    justify-content: center;
    margin: 10%;
    gap: 32px;
}
.container-bloco {
    width: 532px;
    display: flex;
    flex-direction: column;
    gap: 16px;

}
.container-titulo {
    font-family: "Krona One", sans-serif;
    font-size: 36px;
    font-weight: 400;
}
.container-texto {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 28px;
}
.container-destaque {
    font-family: "Krona One", sans-serif;
    font: bold;
    font-size: 24px;
    color: blueviolet;
}
.container-subtitulo {
    font-family: "Krona One", sans-serif;
    font-size: 20px;
    font-weight: 400;
}
.container-link {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}
.botao-links {
    border: 3px solid blueviolet;
    background-color: transparent;
    color: aliceblue;
    width: 378px;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 18px;
    border-radius: 8px;
    padding: 16px;
    text-decoration: none;
    cursor: pointer;
    transition: 1s;
}
.botao-links:hover {
        border: 3px solid rgb(22, 222, 99);
        width: 300px;
        font-size: 16px;
        border-radius: 12px;
        padding: 10px;
}
.fotointro {
    box-sizing: content-box;
}
img {
    border-radius: 100%;

}