
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
}
.cabecalho {
    padding: 10% 0 0 15%;
}
.cabecalho-menu {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 80px; 
}
.cabecalho-menu-link {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 18px;
    color: #22D4FD;
    text-decoration: none;
}
body {
    /* height: 100vh; */
    color: bisque;
    background-color: black;
    box-sizing: border-box;
}
.container {
    display: flex;
    align-items: center;/* Alinha os itens ao topo */
    justify-content: space-between;
    padding: 5% 15%;
    gap: 82px;
}
.container-bloco {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;

}
.container-titulo {
    font-family: "Krona One", sans-serif;
    font-size: 2rem;
    font-weight: 400;
}
.container-texto {
    max-width: 452px;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 1.5;
    margin-bottom: 28px;
}
.container-destaque {
    font-family: "Krona One", sans-serif;
    font: bold;
    font-size: 1.5rem;
    color: blueviolet;
}
.container-subtitulo {
    font-family: "Krona One", sans-serif;
    font-size: 20px;
    font-weight: 400;
}
.container-link {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items:center;
    gap: 32px;
}
.botao-links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    border: 2px solid blueviolet;
    background-color: transparent;
    color: aliceblue;
    width: 332px;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 1.25rem;
    border-radius: 8px;
    padding: 14px 0;
    text-decoration: none;
    cursor: pointer;
    transition: 0.4s;
}
.botao-links:hover {
        border: 2px solid rgb(22, 222, 99);
        width: 352px;
    
}
.foto-apresentacao{
        width: 50%;
        max-width: 320px;
}

.fotointro {
    box-sizing: content-box;
}
img {
    border-radius: 100%;
}
.rodape {
    color: black;
    background-color: #22D4FD;
    text-align: center;
    padding: 24px;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 1rem;

}

@media (max-width: 620px){
    .cabecalho{
        padding: 15%;
        margin-bottom: 10px;
    }
    .cabecalho-menu{
        justify-content: center;
    }
    .container{
        flex-direction: column-reverse;
        padding: 5%;
    }
    .container-bloco{
        width: auto;
    }
    .container-titulo{
        text-align: center;
    }
    .container-texto{
        text-align: center;
    }
    

}