*{
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
    padding: 60px;
    background-color: rgb(255, 255, 255);
    color: grey;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.6;
    box-sizing: border-box;
    overflow-x: hidden;
    height: 100%; /* Ocupa a altura total da tela */
    display: flex;
    flex-direction: column; /* Faz o conteúdo ficar em coluna */
    align-items: normal; /* Centraliza o conteúdo horizontalmente */
    justify-content: flex-start; /* Centraliza o conteúdo verticalmente */
}
.Negrito{
    color: #8a2be2;
    font-size: 22px;
}
/*cabeçalho style*/
header{
    text-align:center;
    padding: 10px;
    background-color:none;
}
/*lista*/
li{
    font-size:25px;
    font-weight: bold;
    color: #8a2be2;
}
h2{
    color:blueviolet;
}
/* Estilo dos botões */
button {
    background-color: #8a2be2;
    color: aliceblue;
    font-size: 12px;
    width: 40%; /* O botão ocupará 40% da largura do seu contêiner */
    height: 25px;
    margin: 10px; /* Dá um espaço entre os botões */
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.3s;
    display: inline-block; /* Faz os botões ficarem na mesma linha */
}
button:hover {
    background-color: aliceblue;
}
.botao-container-extremos {
    display: flex;
    justify-content: space-between; /* Coloca um botão na esquerda e outro na direita */
    margin-top: 20px; /* Espaço superior */
    flex-wrap: wrap; /* Permite que os itens se quebrem para a linha seguinte */
    width: none; /* Garante que ocupe toda a largura do container pai */
}
span{
    font-weight: bold;
    color:gray;
    border: 0px solid #8a2be2;
    padding: 4px;
}
a {
    display:inline-flex; /* Alinha a imagem e o texto lado a lado */
    justify-content: center; /* Centraliza o conteúdo dentro do link */
    align-items: center; /* Centraliza verticalmente o conteúdo dentro do link */
    color: blueviolet;
    font-size: 16px;
    gap: 10px;
    margin: 12px;
    text-decoration: none
}
img{
    border-radius: 50%;
    margin-right: 5px;
    max-width: 100%; /* A imagem ocupa 100% do contêiner sem ultrapassá-lo */
    height: auto; /* A altura será ajustada automaticamente para manter a proporção */
}
footer{
    background-color: gainsboro;
    color: #8a2be2;
    margin-top:40px;
    text-align: left;
    padding: 30px;
}
.main-efeito::before {
    content: "";
    position: absolute;
    transform: translate(-50%, -50%) rotate(0deg);
    border-radius: 100%;
    pointer-events: none;
    width: 500px;
    height: 500px;
    top: 100%;
    left: 90%;
    filter: blur(80px);
    background: linear-gradient(45deg, #735299, #EE3E7D, #ECDF3F);
    animation: rodargradiente 20s ease infinite;
    z-index: none;
}

/* Animação para piscar */
@keyframes piscargradiente {
    0%, 100% { opacity: 0; }
    50% { opacity: 1; }
}

/* Animação para rotacionar o gradiente */
@keyframes rodargradiente {
    0% { 
        transform: translate(-50%, -50%) rotate(0deg);
    }
    100% { 
        transform: translate(-50%, -50%) rotate(360deg);
    }
}